# Node.js bağımlılıkları (backend ve frontend)
backend/node_modules/
frontend/node_modules/

# React build klasörü (frontend)
frontend/build/

# Genel olarak kullanılan geçici dosyalar
*.log
*.tmp
*.lock

# macOS ve Windows sistem dosyaları
.DS_Store
Thumbs.db

# Çevre değişkenleri veya gizli dosyalar (API anahtarları, şifreler)
.env
